<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/bugReports_form.css">
    <title>Bug Report</title>
</head>
<body>
    <h1>Bug Report</h1>
    <form method="post">
        <label for="bugname">Bug Name</label>
        <input type="text" name="bugname" id="bugname"/>
        <br>
        <label for="description">Description</label>
        <input type="text" name="description" id="description"/>
        <br>
        <label for="errorcode">Error Code</label>
        <input type="text" name="errorcode" id="errorcode"/>
        <br>
        <label for="username">Username</label>
        <input type="text" name="username" id="username"/>
        <br>
        <label for="imageurl">Image URL</label>
        <input type="text" name="imageurl" id="imageurl"/>
        <br>
        <button type="submit">Send Bug Report</button>
    </form>
</body>
</html>